.page-container {
  width: 80%;
  margin: 0px auto;
}

.expense-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.expense-list-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #EFEFEF;
  margin: 0 0 15px 0;
  padding: 15px;
  box-sizing: border-box;
}

.date-display {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background-color: #888;
  color: #222;
}

.form-container {
  padding: 15px;
  
  display: flex;
  flex-wrap: wrap;

  background-color: #FFCC00;
}

.form-column {
  padding: 5px;
  width: 44%;
}

.form-column label {
  display: block;
}

.form-column input,
.form-column button {
   padding: 8px;
}