@media screen and (max-width: 782px) {
  body .page-container {
    width: 90%;
  }
}

.page-container {
  width: 80%;
  margin: 0px auto;
}

.expense-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.expense-list-item, .expense-list-head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #EFEFEF;
  margin: 0 0 15px 0;
  padding: 15px;
  box-sizing: border-box;
}

.expense-list-container .expense-list-head {
  background-color: #f3f1d9;
  font-weight: bold;
}

.expense-list-item > *, .expense-list-head > * {
  width: 33%;
}

.date-display {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  background-color: #888;
  color: #FFF;
}

.form-container {
  box-sizing: border-box;
  margin:15px 0;
  padding: 15px;
  
  display: flex;
  flex-wrap: wrap;

  background-color: #FFCC00;
}

.form-column {
  padding: 5px;
  width: 44%;
}

.form-column label {
  display: block;
}

.form-column input,
.form-column button {
   padding: 8px;
}